.boxmodel {

    background-color: white;
    padding: 20px;
    /*margin: auto;
        width: 50%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid wheat;
    
    box-shadow: 5px 5px 5px;
}
td p{
    text-align: right;
}
.s{
    color: red;
    font-size: smaller;
}
